/* Contact Us */

.contactus-header {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.header-paragraph {
    color: aliceblue;
    font-size: large;
}

.Container-of-all-items {

    width: 60%;
    background-color: rgb(18, 17, 17);
    border-radius: 15px;
}

.line {
    width: 115px;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(255, 17, 0);
}


label {
    color: rgb(255, 255, 255);
    ;
    font-size: x-large;
    font-weight: bold;
}


.labels-and-textFields input {
    height: 30px;
    margin-left: 60px;
    width: 40vh;
    border-color: rgb(255, 17, 0);
    border-width: 2px;
    border-radius: 5px;
}

#Email,
#Name {
    margin-left: 70px;
}

input::placeholder {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    padding: 5px;
}

textarea {
    background-color: rgb(244, 235, 223);
    font-size: 15px;
    padding: 45px;
    font-weight: bold;
    width: 350px;
    resize: none;
    height: 200px;
    border-color: rgb(255, 17, 0);
    border-width: 2px;
    border-radius: 5px;

}

textarea::placeholder {
    font-family: "Lato", sans-serif;
}


.submit-button input {
    background-color: rgb(255, 17, 0);
    border: rgb(255, 17, 0) solid 1px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 9px;
    width: 120px;
    font-weight: bold;
}

.submit-button input:hover {
    background-color: rgb(255, 65, 43);
    border-color: rgb(255, 65, 43);
    transition: 0.3s;
    cursor: pointer;
}

.icons img {
    border: 1px solid rgb(244, 234, 234);
    background-color: white;
    border-radius: 60px;
    padding: 2px;
    margin: 10px;
}

.icons img:hover {
    background-color: rgb(255, 17, 0);
    border-color: rgb(255, 17, 0);
    transition: 0.2s;
    cursor: pointer;

}

/* Footer */

footer {
    background-color: black;
    height: 320px;
}

.footer {
    display: flex;
    margin: 0px;
}

.all-links-container {
    display: flex;
}

.footer-header h1,
.navs2 h3,
.QuickLinks-header,
.Others h3 {
    color: rgb(255, 17, 0);
}

.footer-header p {
    color: aliceblue;
}

.footer-header {
    padding-left: 20px;
    padding-top: 60px;
}

.navs1,
.navs2,
.Others {
    padding-left: 60px;
}

.navs1 ul,
.navs2 ul {
    list-style: none;
    margin: 0px;
}

.navs1 li,
.navs2 li {
    padding-top: 20px;
}

.navs2 li a,
.navs1 li a {

    text-decoration: none;
    color: aliceblue;
    margin: 0px;

}

.navs2 li a:hover,
.navs1 li a:hover {
    color: rgb(255, 17, 0);
    transition: 0.2s;
}

.icons2 p {
    margin: 0px;
    color: white;
    padding-top: 5px;
}

.icons2 {
    padding-top: 20px;
}

.icons2 a {
    padding-left: 10px;
    text-decoration: none;
    color: aliceblue;
}

.icons2 img {
    height: 20px;
}

#reserved {
    font-size: small;
    color: aliceblue;
    padding-left: 20px;
}