@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 0.6s ease forwards;
}

body {

  background-color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  margin: 0px;

}

.nav-elements {

  text-align: center;
  color: #365486;
  height: 35px;
  padding-top: 20px;
  padding-bottom: 50px;

}

.nav-elements a {
  color: #365486;
  font-size: 22px;
  text-decoration: none;
  padding: 15px 20px;
}

.nav-elements a:hover {

  color: rgb(0, 145, 255);
  transition: 0.4s;

}

.container {
  background-image: linear-gradient(to right, rgb(138, 25, 214), rgb(11, 178, 224));
  width: 100%;
  height: 547px;
  color: #c8cacc;
  display: flex;

}


.container-text {

  margin-top: auto;
  margin-bottom: auto;
  padding-left: 70px;
}

.container-head {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 50px;

}


.container-head h1 {
  font-size: 70px;
  font-weight: bold;
}

.container-head h2 {
  font-size: 35px;
  color: #c8cacc;
}

.container-head h2,
.container-head h1 {
  margin: 0px;
}

#time{
  text-align: center;
  font-size: large;
}



.container-text p {
  margin: 4px;
  color: black;
  font-size: large;
  padding-left: 150px;
}

/*ANIMATIONS*/
@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(200px);

  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}
.schedule-table-container
 {
  padding: 7px;
  width: 100%;
  margin-top: 20px;
}

.schedule-table {
  width: 100%;
  border-collapse: collapse;
}

.schedule-table th,
.schedule-table td {
  padding: 10px;
  text-align: center;
}

.schedule-table th {
  background-image: linear-gradient(to right, rgb(138, 25, 214), rgb(11, 178, 224));
  background-color: #007bff; /* Blue */
  color: white;
}

.schedule-table tbody tr:nth-child(even) {
  background-color: #f8f9fa; /* Light gray */
}

.schedule-table tbody tr:hover {
  background-color: #cce5ff; /* Light blue */
}
/*///////////////////////////////////*/
.SCROLLbutton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: white;
}

.SCROLLbutton:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(181, 160, 255);
  align-items: center;
}

.SCROLLbutton:hover .svgIcon {
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.SCROLLbutton::before {
  position: absolute;
  bottom: -20px;
  right: 50%;
  transform: translateX(50%);
  content: "Back to Top";
  color: white;
  transition-duration: .3s;
  font-size: 0px;
}

.SCROLLbutton:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  transition-duration: 0.3s;
}
#scrollToTopBtn {
  display: none; /* Initially hidden */
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out;
}

#scrollToTopBtn.show {
  display: flex; /* Shows the button */
  opacity: 1; /* Makes the button visible */
}

/*///////////////////////*/

/* Dark Mode Styles */
body.dark-mode3 {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode3 #time{
  color: #c8cacc;
}

body.dark-mode3 .nav-elements,
body.dark-mode3 .nav-elements a {
  color: #c8cacc;
}

body.dark-mode3 .nav-elements a:hover {
  color: #007bff;
}

body.dark-mode3 .container {
  background-image: linear-gradient(to right, #64349f, #2c3590);
  color: #c8cacc;
}

body.dark-mode3 .container-head h1 {
  color: #e0e0e0;
}

body.dark-mode3 .container-head h2 {
  color: #c8cacc;
}

body.dark-mode3 .container-text p {
  color: #ffffff;
}

body.dark-mode3 .schedule-table th {
  background-color: #0d47a1; /* Dark blue */
  color: #ffffff; /* White */
}

body.dark-mode3 .schedule-table tbody tr:nth-child(even) {
  background-color: #303030; /* Dark gray */
}

body.dark-mode3 .schedule-table tbody tr:hover {
  background-color: #424242; /* Gray */
}
/*////////////////////////////////////////////////////*/
.theme-switch {
  --toggle-size: 15px;  /* Reduced font-size for smaller components */
  --container-width: 3em;  /* Smaller width */
  --container-height: 1.50em;  /* Smaller height */
  --container-radius: 3.5em;  /* Adjusted radius for the smaller size */
  --container-light-bg: #3D7EAE;
  --container-night-bg: #1D1F2C;
  --circle-container-diameter: 2em;  /* Smaller diameter */
  --sun-moon-diameter: 1.2em;  /* Smaller sun/moon diameter */
  --sun-bg: #ECCA2F;
  --moon-bg: #C4C9D1;
  --spot-color: #959DB1;
  --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
  --stars-color: #fff;
  --clouds-color: #F3FDFF;
  --back-clouds-color: #AACADF;
  --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius);
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: var(--container-radius);
  -webkit-box-shadow: inset 0 0 0 2.5em rgba(255, 255, 255, 0.1), inset 0 0 0 2.5em rgba(255, 255, 255, 0.1), 0 0 0 0.5em rgba(255, 255, 255, 0.1), 0 0 0 1em rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 2.5em rgba(255, 255, 255, 0.1), inset 0 0 0 2.5em rgba(255, 255, 255, 0.1), 0 0 0 0.5em rgba(255, 255, 255, 0.1), 0 0 0 1em rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  pointer-events: none;
}

.theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.theme-switch__moon {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__spot {
  position: absolute;
  top: 0.25em;  /* Adjusted for smaller size */
  left: 0.15em;  /* Adjusted for smaller size */
  width: 0.25em;  /* Adjusted for smaller size */
  height: 0.25em;  /* Adjusted for smaller size */
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
  width: 0.15em;  /* Adjusted for smaller size */
  height: 0.15em;  /* Adjusted for smaller size */
  top: 0.525em;  /* Adjusted for smaller size */
  left: 0.50em;  /* Adjusted for smaller size */
}

.theme-switch__spot:nth-last-of-type(3) {
  width: 0.130em;  /* Adjusted for smaller size */
  height: 0.130em;  /* Adjusted for smaller size */
  top: 0.15em;  /* Adjusted for smaller size */
  left: 0.525em;  /* Adjusted for smaller size */
}

.theme-switch__clouds {
  width: 0.775em;  /* Adjusted for smaller size */
  height: 0.775em;  /* Adjusted for smaller size */
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.500em;  /* Adjusted for smaller size */
  left: 0.15em;  /* Adjusted for  smaller size */
  -webkit-box-shadow: 0.625em 0.25em var(--clouds-color), -0.25em -0.25em var(--back-clouds-color), 0.937em 0.312em var(--clouds-color), 0.375em -0.062em var(--back-clouds-color), 1.437em 0 var(--clouds-color), 0.875em -0.062em var(--back-clouds-color), 1.937em 0.25em var(--clouds-color), 1.25em -0.25em var(--back-clouds-color), 2.375em -0.062em var(--clouds-color), 1.625em 0em var(--back-clouds-color), 3.125em -0.25em var(--clouds-color), 2.375em -0.312em var(--back-clouds-color), 3.25em -1.25em 0 0.312em var(--clouds-color), 2.75em -0.5em var(--back-clouds-color), 2.875em -1.625em 0 0.312em var(--back-clouds-color);
  box-shadow: 0.625em 0.25em var(--clouds-color), -0.25em -0.25em var(--back-clouds-color), 0.937em 0.312em var(--clouds-color), 0.375em -0.062em var(--back-clouds-color), 1.437em 0 var(--clouds-color), 0.875em -0.062em var(--back-clouds-color), 1.937em 0.25em var(--clouds-color), 1.25em -0.25em var(--back-clouds-color), 2.375em -0.062em var(--clouds-color), 1.625em 0em var(--back-clouds-color), 3.125em -0.25em var(--clouds-color), 2.375em -0.312em var(--back-clouds-color), 3.25em -1.25em 0 0.312em var(--clouds-color), 2.75em -0.5em var(--back-clouds-color), 2.875em -1.625em 0 0.312em var(--back-clouds-color);
  -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.15em;  /* Adjusted for smaller size */
  width: 1em;  /* Adjusted for smaller size */
  height: auto;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}




/* actions */

.theme-switch__checkbox:checked + .theme-switch__container {
  background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
}

.theme-switch__circle-container:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
  bottom: -2.875em;  /* Adjusted for smaller size */
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*////////////////////////////////////////*/



/*MEDIA QUERY*/
@media (max-width: 700px) {}

@media (max-width: 1050px) {
  body {
    zoom: 0.8;
  }

  .content {
    margin: 0px;
  }
}

@media (max-width: 950px) {
  body {
    zoom: 0.7;
  }
}

@media (max-width: 850px) {
  body {
    zoom: 0.6;
  }
}

@media (max-width: 500px) {
  body {
    zoom: 0.4;
  }

  .features img {
    width: 8vh;
  }
}